@model Movie.Model.Models.Celebtiry

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Celebtiry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CelebrityID" />
            <div class="form-group">
                <label asp-for="CelebrityName" class="control-label"></label>
                <input asp-for="CelebrityName" class="form-control" />
                <span asp-validation-for="CelebrityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelebrityActorORActress" class="control-label"></label>
                <input asp-for="CelebrityActorORActress" class="form-control" />
                <span asp-validation-for="CelebrityActorORActress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelebrityYearofBirth" class="control-label"></label>
                <input asp-for="CelebrityYearofBirth" class="form-control" />
                <span asp-validation-for="CelebrityYearofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelebrityCountry" class="control-label"></label>
                <input asp-for="CelebrityCountry" class="form-control" />
                <span asp-validation-for="CelebrityCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelebrityMovies" class="control-label"></label>
                <input asp-for="CelebrityMovies" class="form-control" />
                <span asp-validation-for="CelebrityMovies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

